*{
  box-sizing: border-box;
}
body {
  margin: auto;
  font-size: 10px;
  font-family: 'Slabo 27px', serif;
}
ul, ol{
  margin: 0;
  padding: 0;
}
.main-header{
	width: 100%;
  height: auto;
	position: fixed;
  top: 0;
	z-index: 10;
  background-color: #FFF;
  /*opacity: 0.5;*/
  /*border-bottom: solid 2px #C2B4FB;*/
}
.header1180{
  width: 100%;
}
.main-nav {
  width: 100%;
}
.main-nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.main-nav li{
  /*display: inline-block;*/
  text-align: center;
}
.main-nav a{
	text-decoration: none;
  text-transform: uppercase;
  padding-right: 40px;
  margin-left: 30px;
  font-size: 80%;
  font-weight: bold;
  color: black;
}
.container{
  width: 100%;
  margin: auto;
  background-color: #fff;
}
.banner img {
  width: 100%;
  display: inline-block;
}
.banner h1{
  position: absolute;
  width: 100%;
  bottom: 50%;
  margin-left: 10%;
  text-align:left;
  color: #fff;
  font-size: 150%;
  font-style: italic;
}
/*.banner p{
  position: relative;
  bottom: -100%;
  width: 100%;
  color: #fff;
  text-align: left;
  margin-left: 40%;
  font-size: 190%;
  font-weight: bold;
  font-style: italic;
}*/
.img_product{
  width: 100%;
  /*float: inherit;*/
}
.product{
  width: 30%;
  margin: 3% 3% 0 1%;
  position: relative;
  float: left;
  padding-bottom: 5%;
  /*background-image: url(../images/torre_eifel_dibujo.jpg);*/
}
#productMargin{
  margin-right: 0;
}
.product ul{
  list-style-type: none;
}
.product li {
  text-align: center;
}
.product a{
  text-decoration: none;
  text-transform: uppercase;
}
.ulAcademic a{
  color: black;
  font-size: 1em;
  font-weight: bold;
}
.ulCulinary a{
  color: black;
  font-size: 1em;
  font-weight: bold;
}
.ulAperitif a{
  color: black;
  font-size: 1em;
  font-weight: bold;
}
#h2Academic {
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 1.5em;
  margin-left: 2%;
  margin-top: 20%;
}
#h2Culinary {
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 1.5em;
  margin-left: 45%;
}
#h2Aperitif {
  position: absolute;
  top: -10%;
  color: #fff;
  font-size: 1.5em;
  margin-left: 20%;
  margin-top: 50%
}
.footer{
  clear: both;
  padding-top: 0.5%;
  font-size: 1.5em;
  background-color: #7D8E99;
  font-weight: bold;
}
.footer p{
  margin-left: 1%;
}
#logoFacebook{
  width: 30px;
  margin: 1%;
  display: inline-block;
}
#logoTwitter{
  width: 30px;
  margin: 1%;
  display: inline-block;
}
#logoInstagram{
  width: 30px;
  margin: 1%;
  display: inline-block;

}
.faq{
  width: 90%;
  margin: 12% 5% 5%;
}
.faq li{
  font-size: 2em;
}
.faq p{
  font-size: 1.5em;
}
.login-container{
  width: 50%;
  margin: 15% auto 9%;
  background-image: url(../images/torre_eifel_dibujo.jpg);
}
.login {
  padding: 10% 10%;
  font-size: 1.5em;
}
.buttonRemindme{
  border: none;
  background-color: #D8BFD8;
  color: white;
  font-weight: bold;
  padding: 1%;
}
.buttonForgot{
  border: none;
  background-color: #D8BFD8;
  color: white;
  font-weight: bold;
  margin-left: 3%;
  padding: 1%;
}
.registration-container{
  width: 50%;
  margin: 14% auto 5%;
  background-image: url(../images/torre_eifel_dibujo.jpg);
}
.registration p{
  font-size: 1.5em;
}
.buttonSend{
  border: none;
  background-color: #D8BFD8;
  color: white;
  font-weight: bold;
  padding: 1%;
}

@media (min-width: 550px) {
  .main-nav li{
    display: inline-block;
  }
  .main-nav a{
  	text-decoration: none;
    text-transform: uppercase;
    padding-right: 40px;
    margin-left: 30px;
    font-size: 100%;
    font-weight: bold;
    color: black;
  }
  .banner h1{
    position: fixed;
    bottom: 45%;
    margin-left: 10%;
    width: 100%;
    text-align:left;
    color: #fff;
    font-size: 200%;
    font-style: italic;
  }
  /*.banner p{
  position: relative;
  bottom: -55%;
  width: 100%;
  color: #fff;
  text-align: left;
  margin-left: 15%;
  font-size: 120%;
  font-style: italic;
  }*/
  .container{
    width: 100%;
    margin: 10% auto 0;
    background-color: #fff;
  }
  .product li {
    text-align: center;
  }
  #h2Academic {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 1.5em;
    margin-left: 2%;
    margin-top: 20%;
  }
  #h2Culinary {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 1.5em;
    margin-left: 55%;
  }
  #h2Aperitif {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 1.5em;
    margin-left: 20%;
    margin-top: 40%
  }
  .ulAcademic a{
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  .ulCulinary a{
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  .ulAperitif a{
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  @media (min-width: 960px) {
  .main-nav a{
  	text-decoration: none;
    text-transform: uppercase;
    padding-right: 40px;
    margin-left: 30px;
    font-size: 150%;
    font-weight: bold;
    color: black;
    }
  .banner h1{
    position: absolute;
    bottom: 45%;
    margin-left: 10%;
    width: 100%;
    text-align:left;
    color: #fff;
    font-size: 3.5em;
    font-style: italic;
  }
  /*.banner p{
    position: relative;
    bottom: -105%;
    width: 100%;
    color: #fff;
    text-align: left;
    margin-left: 40%;
    font-size: 190%;
    font-weight: bold;
    font-style: italic;
  }*/
  .container{
    width: 100%;
    margin: 10% auto 0;
    background-color: #fff;
  }
  .product li {
    text-align: center;
  }
  .ulAcademic a{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  }
  .ulCulinary a{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  }
  .ulAperitif a{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  }
  #h2Academic {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 2em;
    margin-left: 2%;
    margin-top: 20%;
  }
  #h2Culinary {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 2em;
    margin-left: 75%;
  }
  #h2Aperitif {
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 2em;
    margin-left: 20%;
    margin-top: 50%
  }
  .registration-container input{
    text-align: right;
  }
